body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

aside {
    background-color: rgb(56, 160, 229);
    grid-row: 1 / -1;
    grid-column: 1 / 2;
}

h1 {
    margin: 10px;
}

h4 {
    margin: 0;
}

header {
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 80px 80px 80px;
    align-items: center;
    justify-items: center;
}

main {
    background-color: rgb(232, 232, 232);
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    padding-left: 10px;
}

#search {
    border-radius: 15px;
    width: 90%;
    height: 16px;
    background-color: rgb(232, 232, 232);
    border: none;
}

#projects {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.projectTitle {
    max-height: 100px;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
}

.h3Margins {
    margin: 10px 0 0 0;
}

#projects > div, .atBlock {
    background-color: white;
}

ul {
    list-style: none;
}


aside * {
    color: white;
    text-decoration: none;
}

li {
    margin: 5px 0 5px 0;
}

.roundedButton {
    background-color: rgb(56, 160, 229);
    color: white;
    border-radius: 15px;
    border: none;
    padding: 5px;
    width: 75px;
}



